<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RECIPME</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="css/nicepage.css" media="screen">
  <link rel="stylesheet" href="css/Home.css" media="screen">
  <script class="u-script" type="text/css" src="js/jquery.js" defer=""></script>
  <script class="u-script" type="text/css" src="js/nicepage.js" defer=""></script>
  <meta name="generator" content="Nicepage 5.9.10, nicepage.com">
</head>

<body>
  <header>
    <h1>Welcome to Recipme</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login or Sign Up</a>
    {{/if}}
    <a href="/aboutus">About Us</a>
    <a href="/contactus">Contact Us</a>
  </nav>
  <main>
    <aside>
      <h2>Login or Sign Up to View Recipe Details!</h2>
    </aside>
    <div class="gallery">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>