<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RecipMe</title>
  <link rel="stylesheet" type="text/css" href='css/jass.css'>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <header>
    <h1>Welcome to RecipMe!</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login or Sign Up</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>Login or Sign Up to add your own recipes!</h2>
    </aside>
    <div class="recipe">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="../public/js/logout.js"></script>
  {{/if}}
</body>

</html>

<script src="js/login.js"></script>
<script src="js/logout.js"></script>
<script src="js/display.js"></script>

{{!-- <script src="/javascript/signup.js"></script>
<script src="/javascript/add-recipe.js"></script> --}}