<!-- about.hbs -->

{{!-- Include your header and navbar --}}
{{> header}}

<section class="section">
  <div class="container">
    <h1 class="title is-1">About Us</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo, lectus ut rhoncus scelerisque, nisi est
      interdum magna, sed posuere risus orci vitae tellus. Aliquam eget dolor ut est maximus mollis. Integer eget
      fermentum turpis. Mauris volutpat eros vitae diam feugiat tincidunt.
    </p>
    <p>
      Quisque sodales aliquam sem, sed vulputate enim tincidunt ac. Nulla sed posuere justo. Nulla vel odio sit amet
      tortor bibendum facilisis sed a quam. Donec ultricies lobortis mi, a pharetra lorem sagittis non. Ut et justo
      justo.
    </p>
  </div>
</section>

{{!-- Include your footer --}}
{{> footer}}
