<div class="login-card">
  <h1>
    Add your own recipe!
  </h1>
  <input
    class="form-input"
    type="customRecipe"
    id="titleInput"
    placeholder="Title"
  />
  <input
    class="form-input"
    type="customRecipe"
    id="ingredientsInput"
    placeholder="Ingredients"
  />
  <input
    class="form-input"
    type="customRecipe"
    id="instructionsInput"
    placeholder="Instructions"
  />
  <button class="btn btn-primary" type="submit">
    Post Recipe
  </button>
</div>
<div class="login-card">
  <div>
    <header>
      <h1>
        Recipes
      </h1>
    </header>
  </div>
  <div>
  {{item.0.title}}
  </div>
</div>